node_modules/
dist*/
/modules

# logs
npm-debug.log
selenium-debug.log

# copied from media
static/logo*
!static/logo.png

# outputs
coverage
coverage-ts
screenshots
!docs/screenshots/
!docs/screenshots/*.jpg
test/unit/coverage
test/e2e/reports
*.map

# platform-specific trash
.DS_Store

# editor-specific
*.swp
.vscode

# python
__pycache__
